.aside {
	border: solid #cecfd5;
	border-radius: 10px;
	padding: 12px;
	float: left;
	width: 60%;
	display: block;
}
.full-aside {
	@extend .aside;
	width: 100%;
}
.belee-dat {
	float:left;
	margin: 10px 20px 0px 0px;
  	background-image: url(/images/pointing-hand-300px.png);
  	background-repeat: no-repeat;
  	min-height: 100px;
  	min-width: 100px;
  	height: auto;
  	width: auto;
  	display: block;
  	background-size:contain;
}
.all-clear {
	clear: both;
	margin: 0px;
	height: 0px;
}
.slight-vertical-space {
	padding: 10px 0px 0px 0px;
	height: 10px;
}
.italics {
	font-style: italic;
}
ul.padded-li li {
	padding: 8px 0px 0px 0px;
}
div.social-button {
	position: absolute;
	left: 100px;
}
div.chatgpt-answer {
	padding-top: 5px;
	white-space: pre-wrap; /* Preserve line breaks and spaces */
}
/* Style the summary (question) */
summary {
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
}

/* Style the details (answer) */
details {
	margin-bottom: 10px;
	white-space: pre-wrap; /* Preserve line breaks and spaces */
}

/* Style the details content (answer) */
details > * {
	margin: 5px 0;
	white-space: normal; /* Reset white-space property */
}

/* Customize the background color of the answer */
details > *:not(summary) {
	background-color: #f9f9f9;
	padding: 5px 10px;
	border-radius: 5px;
}
